.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: #606c76;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.wrapper .container {
  max-width: 90rem;
}

h2 {
  letter-spacing: 0.1rem;
}

.wrapper > .container {
  padding-bottom: 7.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.whitelist {
  display: flex;
  gap: 8px;
}

.whitelist-remove {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
}

.navbar-left {
  display: flex;
  gap: 8px;
  align-items: baseline;
  flex-wrap: nowrap;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
  }

  h6 {
    margin-bottom: 0px;
  }

  h2 {
    margin-bottom: 0px;
  }

  .metadata {
    margin-top: 20px;
  }
}

a {
  text-decoration: none;
  color: #606c76;
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blossom-image-thumbnail {
  width: 100px;
}

.descriptor-list {
  display: flex;
}

.descriptor {
  display: flex;
}

.supported-methods {
  max-width: 960px;
}
